name: Build and run demo

on:
  workflow_dispatch:
  push:
    branches: [ "windows" ]

jobs:
  build:

    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    strategy:
      matrix:
        config:
          - name: "Windows Latest"
            os: windows-latest            

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: make install

    - name: Run check
      run: python3 demos/demo.py
