name: Build and run demo

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    strategy:
      fail-fast: true
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.9"]

    steps:
    - uses: actions/checkout@v3

    - name: Install dependencies
      run: make install

    - name: Run check
      run: python3 demos/demo.py
    
    - uses: actions/upload-artifact@v3
      with:
        name: wheel
        path: dist/
        
  src-dist:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - name: "Windows Latest"
            os: windows-latest            
          - name: "Ubuntu Latest"
            os: ubuntu-latest            
          - name: "MacOS Latest"
            os: macos-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Install from source
      run: make src-install

    - name: Run check
      run: python3 demos/demo.py
      
  wheel:
    name: ${{ matrix.config.name }}
    runs-on: ${{ matrix.config.os }}

    strategy:
      fail-fast: false
      matrix:
        config:
          - name: "Windows Latest"
            os: windows-latest            
          - name: "Ubuntu Latest"
            os: ubuntu-latest            
          - name: "MacOS Latest"
            os: macos-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Build wheel
      run: make install

    - name: Run check
      run: python3 demos/demo.py
